<!DOCTYPE html>
<html lang="eng"> 
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="favicon.ico">
        <title>Guess the art!</title> 
    </head>
    <body>
        <main>
        {% extends "template.html" %}
        {% block content %}
        <div class="maint"><h1>
            How does this work????
        </h1></div>
        </main> 
        <footer>
            <ul class="footer">
                <li class ="elementf"><a class="textf"><i>[2022] created by Marina ;)</i> </a></li>
                <li class ="elementf"><a class="linkf" href="mailto:jmarinabarannikov@gmail.com">Email</a></li>
                <li class ="elementf"><a class="linkf" href="https://github.com/marinabar">Github</a></li>
            </ul>
        </footer>
        {% endblock %}
    </body>
</html>