<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="favicon.ico">
        
        <title>Guess the art!</title> 
    </head>
    <body>

        {% extends "template.html" %}
        {% block content %}
        <main>
        <div class="maint"><h1>
            Generate images with deep learning ! <br>
        </h1>
             <h4>example of a great use of GANs (Generative Adversial Networks)</h4>
        </div>

        <div class="container">
            <div onclick="abstract()">
                ABSTRACT ART
            </div>
            <div onclick="imp()">
                IMPRESSIONIST LANDSCAPE
            </div>
            <div onclick="clouds()">
                CLOUDS
            </div>
            <div onclick="piz()">
                (PIZZAS)
            </div>
        </div>
        <script src="../static/script.js"> </script>
        <div id="floating">Click something again!</div>
        <img src="" id="mainimg">
        
    </main>
    <footer>
        <ul class="footer">
            <li class ="elementf"><a class="textf"><i>[2022] created by Marina ;)</i> </a></li>
            <li class ="elementf"><a class="linkf" href="mailto:jmarinabarannikov@gmail.com">Email</a></li>
            <li class ="elementf"><a class="linkf" href="https://github.com/marinabar">Github</a></li>
        </ul>
    </footer>
    {% endblock %}
    </body>

</html>