<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/stylesheet.css') }}">
    
</head>
  <body>
    <header>
      <a href="{{ url_for('main') }}"><img src="../static/aiart.png" style="width:15%;height:auto;"a>
      <ul class="nav">
        <li>
          <a class="navbutton" href="{{ url_for('aboutthisamazingproject') }}">About</a>
        </li>
        <li>       
          <a class="navbutton" href="http://github.com">Github</a>
        </li>
      </ul>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>